@model IEnumerable<Model.DetalleOrden>

@{
    ViewBag.Title = "Index";
}

@*PARA HACER BUSQUEDA*@

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];



            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<ol class="breadcrumb">
    <li><a href="~/admin/Orden/">Orden</a></li>

    <li class="active"> Detalle de Orden </li>


</ol>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@



<div class="row">
    <div class="col-md-6">
        <span class="input-icon">
            <input type="text" id="myInput" class="nav-search-input" onkeyup="myFunction()" placeholder="Buscar Proceso">
            <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>


    </div>
    <div class="col-sm-12 col-md-12">
        <div class="well">
            <div id="yo" class="page">
                <table class="table mGrid" id="myTable">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Orden.codigoorden)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hardware.seriehw)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.seriedt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.usuariof)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.valor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IGV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.obscambio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.estadodetalleorden)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Orden.codigoorden)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Hardware.seriehw)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.seriedt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuariof)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IGV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.obscambio)
                            </td>
                            <td>

                                @if (item.estadodetalleorden == 1)
                                {
                                    <span> PRODUCCION</span>
                                }
                                else if (item.estadodetalleorden == 0)
                                {
                                    <span class="label label-danger"> CERRADO</span>
                                }


                                else if (item.estadodetalleorden == 2)
                                {
                                    <span class="label label-danger"> CAMBIO</span>
                                }

                                @*@Html.DisplayFor(modelItem => item.estadodetalleorden)*@
                            </td>
                            <td>
                                @Html.ActionLink("Actualizar", "Edit", new { id = item.iddetalleorden }) |
                                @*@Html.ActionLink("Detalle", "Details", new { id = item.iddetalleorden }) |*@
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.iddetalleorden })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>


